*{
    padding:0px;
    margin:0px;
   
}
.article{
    padding-top:150px;
    /* margin-top: 1000px; */
    
}
.article-grid{
    
    display:grid;
    grid-template-columns: repeat(3,1fr);
   

    margin:10px;
}