body {
  background-color: #ffffff;
}


.appointment-button{
  box-shadow:inset 0px -1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #74e1ff 5%, #2b9dc3 100%);

	border-radius:13px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:44px 36px 45px #ffffff;
  margin:10px;
  margin-left:100px;
  margin-top:-10px;
  /* margin-left: 500px; */
 
  width:200px;
  
}

.my-button {
  display: flex ;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
}
.doctor-heading{
  font-size: 4.0rem;
  color: #2b9dc3;  
}
.doctor-sub{

  padding-top:30px;
}
.doctor-sub1{
  display:flex;
  padding-bottom: 10px;
 
}
.doctor-sub1 p{
  padding-left:10px;
}
.doctor-sub1 h3{
  font-size: 20px;
  color:#2b9dc3;
}

.my-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -100px;
}

.doc-image {
  margin-top: 150px;
  height: 300px;
}