@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
p {
   
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

h2 {
    font-size: 3rem;
    font-family: cursive;  
}

h1 
  {
        font-family: "Comic Sans MS", cursive, sans-serif;
        text-align: center;
        font-size: 40px;
        letter-spacing: 2px;
        word-spacing: -3px;
        color: rgb(8, 8, 8);
        
        text-shadow: rgb(0, 0, 0) -2px 1px 0px;
    }


.big-features-section0{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 0px;
    flex-direction: row;
    padding-top: 170px;
 font-size: x-large;

 
}
.big-features-section0 h1{
   
        font-family: "Comic Sans MS", cursive, sans-serif;
        text-align: center;
        font-size: 46px;
        letter-spacing: 3px;
        word-spacing: 3px;
        color: rgb(128, 205, 230);
       font-weight: bolder;
       text-shadow: rgb(255, 249, 249) -2px 3px 0px;
    }
   

.big-features-section1 {

    display: flex;
    gap: 20px;
    margin-left: 0px;
    flex-direction: row;
    
}

.big-features-section1-left img{

    width: 75%;
}

.big-features-section1-right {

    flex-direction:column ;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding-top: 100px;
}

.big-features-section1-right-div-img {

    width: 130px;
}

.big-features-section1-right-background {

    font-size: 1.3rem;
    background-image: url(../assets/asset\ 35.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 20px;
    font-weight: 700;
}

/* .big-features-section2 {

    padding: 20px var(--padding-inline-section);
} */

.register-therapist{

    display: flex;
    flex-direction: column;
}

.description {
    
}

.register-button , .journal-button , .consultancy-button{
    text-align: center;
    width: 200px;
  border-radius: 15px;
  border: none;
  font-weight: bolder;
  font-size: x-large;

 
  color: rgb(4, 33, 52);
  /* Created with https://www.css-gradient.com */
  /* Created with https://www.css-gradient.com */
  background: rgba(251, 254, 255, 1);
  background: -webkit-linear-gradient(
    bottom,
    rgb(129, 214, 242),
    rgba(180, 212, 229, 1)
  );
  background: -moz-linear-gradient(
    bottom,
    rgb(156, 216, 236),
    rgba(180, 212, 229, 1)
  );
  background: linear-gradient(
    to top,
    rgb(85, 157, 180),
    rgba(180, 212, 229, 1)
  );
  margin: 5px;
  padding: 8px;
}

.big-features-section2 {

    display: flex;
    gap: 250px;
    /* align-items: flex-start; */
    justify-content: space-around;
    padding-top: -600px;
}


.big-features-section2-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
    padding-left: 200px;
}

.big-features-section2-right-img{
    width: 70%;
    padding-top: -50px;
}

.heading-consultancy , .heading-article {
    text-align: center;
    padding-bottom: 50px;
}
.big-features-section2-heading {
    font-size: 2.5rem;
}

.doctor-thought {
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 20px;
    background-image: url(../assets/asset\ 35.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 20px;
    font-weight: 700;

}

.heading-consultancy h1::after {

    content: '';
    width: 150px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    background: #32e0ff;
    top: 1740px;
    left: 45.2%;
    transform: translateY(-50%);
}

.consultancy-section {

    display: flex;
    gap: 150px;
    padding-bottom: 50px;

}

.consultancy-section-left{
    /* padding-bottom: 500px; */
}


.consultancy-section-left-img{
    width: 800px;
}

.consultancy-section-right {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 40px;
}

.consultancy-section-right-heading {
    font-size: 2.5rem;
}


.article-section {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.example-card1 {
    width: 23%;
    position: relative;
    min-height: 400px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) , url(../assets/asset\ 36.jpeg);
    background-size: cover;
    transition: 0.2 ease-out;
    z-index: 0;
}
.example-card2 {
    width: 23%;
    position: relative;
    min-height: 400px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) , url(../assets/asset\ 37.jpeg);
    background-size: cover;
    transition: 0.2 ease-out;
    z-index: 0;
}
.example-card3 {
    width: 23%;
    position: relative;
    min-height: 400px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) , url(../assets/asset\ 38.jpeg);
    background-size: cover;
    transition: 0.2 ease-out;
    z-index: 0;
}
.example-card4 {
    width: 23%;
    position: relative;
    min-height: 400px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) , url(../assets/asset\ 39.jpeg);
    background-size: cover;
    transition: 0.2 ease-out;
    z-index: 0;
}
.example-card1:hover {
    box-shadow: 0 0 10px #000;
}
.example-card2:hover {
    box-shadow: 0 0 10px #000;
}
.example-card3:hover {
    box-shadow: 0 0 10px #000;
}
.example-card4:hover {
    box-shadow: 0 0 10px #000;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: azure ;
    font-size: 1.5rem;
}   

.heading-article h1::after {

    content: '';
    width: 150px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    background: #32e0ff;
    top: 2450px;
    left: 45.2%;
    transform: translateY(-50%);
    z-index: 0;
}








