@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
p {
    
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

h2 {
    font-size: 3rem;
    font-family: cursive;  
}

h1 
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-size: 40px;
        letter-spacing: 2px;
        word-spacing: -3px;
        color: rgb(8, 8, 8);
        
        text-shadow: rgb(0, 0, 0) -2px 1px 0px;
    }
    
    
    .navigation {
        z-index: 2;
    }


    .big-features-section0{
        
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 0px;
    flex-direction: row;
    padding-top: 170px;
 font-size: x-large;

 
}
.big-features-section0 h1{
   
        font-family: "Comic Sans MS", cursive, sans-serif;
        text-align: center;
        font-size: 46px;
        letter-spacing: 3px;
        word-spacing: 3px;
        color: rgb(128, 205, 230);
       font-weight: bolder;
       text-shadow: rgb(255, 249, 249) -2px 3px 0px;
    }
   

.big-features-section1 {

    display: flex;
    gap: 20px;
    margin-left: 0px;
    flex-direction: row;
    
}

.big-features-section1-left img{

    width: 75%;
}

.big-features-section1-right {

    flex-direction:column ;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding-top: 100px;
}

.big-features-section1-right-div-img {

    width: 130px;
}

.big-features-section1-right-background {

    font-size: 1.3rem;
    background-image: url(../assets/asset\ 35.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 20px;
    font-weight: 700;
}

/* .big-features-section2 {

    padding: 20px var(--padding-inline-section);
} */

.register-therapist{

    display: flex;
    flex-direction: column;
}

.description {
    
}

.register-button , .journal-button , .consultancy-button{
    box-shadow:inset 0px -1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #74e1ff 5%, #2b9dc3 100%);
	background-color:#47b6d5;
	border-radius:13px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:44px 36px 45px #ffffff;
  margin:10px;
  margin-left:160px;
  width:200px;
  
  
}
.consultancy-button{
    width:220px;
    margin-top:50px;
    margin-left:270px;
}
.register-button{
    width:220px;
    margin-top:50px;
    margin-left:100px;

}

.big-features-section2 {

    display: flex;
    gap: 250px;
    /* align-items: flex-start; */
    justify-content: space-around;
    padding-top: -600px;
}


.big-features-section2-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
    padding-left: 200px;
}

.big-features-section2-right-img{
    width: 70%;
    padding-top: -50px;
}

.heading-consultancy , .heading-article {
    text-align: center;
    padding-bottom: 50px;
}
.big-features-section2-heading {
    font-size: 2.5rem;
}
.big-features-section2-heading h1:after{
    content: '';
    width: 150px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    background: #32e0ff;
    top: 1300px;
    left: 45.2%;
    transform: translateY(-50%);
}

.doctor-thought {
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 20px;
    background-image: url(../assets/asset\ 35.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 20px;
    font-weight: 700;

}



.consultancy-section {

    display: flex;
    gap: 150px;
    padding-bottom: 50px;

}

.consultancy-section-left{
    /* padding-bottom: 500px; */
}


.consultancy-section-left-img{
    width: 800px;
}

.consultancy-section-right {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 40px;
}

.consultancy-section-right-heading {
    font-size: 2.5rem;
}


.article-section {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.example-card1 {
    width: 23%;
    position: relative;
    min-height: 400px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) , url(../assets/asset\ 36.jpeg);
    background-size: cover;
    transition: 0.2 ease-out;
    z-index: 1;
}
.example-card2 {
    width: 23%;
    position: relative;
    min-height: 400px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) , url(../assets/asset\ 37.jpeg);
    background-size: cover;
    transition: 0.2 ease-out;
    z-index: 1;
}
.example-card3 {
    width: 23%;
    position: relative;
    min-height: 400px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) , url(../assets/asset\ 38.jpeg);
    background-size: cover;
    transition: 0.2 ease-out;
    z-index: 1;
}
.example-card4 {
    width: 23%;
    position: relative;
    min-height: 400px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) , url(../assets/asset\ 39.jpeg);
    background-size: cover;
    transition: 0.2 ease-out;
    /* transition: transform .2s; */
    z-index: 1;
}
.example-card1:hover {
    box-shadow: 0 0 10px #000;
    transform: scale(1.05);
}
.example-card2:hover {
    box-shadow: 0 0 10px #000;
    transform: scale(1.05);
}
.example-card3:hover {
    box-shadow: 0 0 10px #000;
    transform: scale(1.05);
}
.example-card4:hover {
    box-shadow: 0 0 10px #000;
    transform: scale(1.05);
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: azure ;
    font-size: 1.5rem;
}   

.heading-article h1::after {

    content: '';
    width: 150px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    background: #32e0ff;
    top: 2470px;
    left: 45.2%;
    transform: translateY(-50%);
    z-index: 1;

}








