*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p {

    font-size: 1.5rem;

}

.navigation {

    position: absolute;
    top: 0;
    left: 0;
}

.homeconsultancy-first-flex {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: url(../assets/new-waves.svg);
    padding: 50px;
    height: 550px;
    
}

.first-section-heading {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.first-section-content-1 {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.first-section-content-2 {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

.first-section-content-box {
    border: 2px solid white;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 30px;
}

.first-section-content-box:hover {

    color: rgb(9, 218, 255);
    transition: 0.2s ease-out;
    box-shadow: 0 0 2px rgb(9, 218, 255);
    background-size: cover;
}

.home-consultancy-get-start-button {

    display: flex;
    align-items: center;
    justify-content: center;
}

.get-started-button {
    /* padding: 18px; */
    border: 2px solid aqua;
    width: 150px;
    height: 40px;
    padding-left: 20px;
    padding-top: 8px;
    border-radius: 20px;
    background: linear-gradient(#ffffff , #39cccc); 
}

.how-it-work-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}



.how-it-work-title {

    font-size: 2.5rem;
}

.underline{
    width: 100px;
    height: 5px;
    background-color: aqua;
    border: 2px solid aqua;
    border-radius: 5px;
}

.how-it-work-step {
    margin-top: -30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-size {
    width: 60%;
}

.underline1 , .heading-line {

    width: 40px;
    height: 5px;
    background-color: aqua;
    border: 2px solid aqua;
    border-radius: 5px;

}

.arrow-in-steps {
    width: 130px;
    margin-left: -140px;
}

.under-heading {

    margin-top: -60px;
    font-size: 1.2rem;
}

.extra-section-heading-flex {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.heading-line {

    width: 100px;
    margin-bottom: -50px;
}
.extra-section {

    margin-top: 150px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    background: url('../assets/new-waves.svg');
}

.extra-section-left {

    width: 50%;
    padding-top: 150px;
    padding-left: 200px;
    display: flex;
    flex-direction: column; 
    gap: 15px;
}

.first-question {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.second-question {

    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 50px;
}

.third-question {

    font-size: 1.2rem;
    margin-top: -30px;
    padding-left: 40px;
    margin-bottom: 28px;

}

.extra-section-right {
    padding-left: 200px;
    /* width: 50%; */
}

.extra-section-right-img {
    width: 75%;
}

.extra-section-button {
    margin-left: 120px;
    font-size: 1.5rem;
    font-weight: 300;
    /* padding-bottom: 15px; */
    border: 2px solid aqua;
    width: 150px;
    height: 50px;
    padding-left: 25px;
    padding-top: 8px;
    border-radius: 20px;
    background: linear-gradient(#ffffff , #39cccc);
}

.extra-section-button:hover , .get-started-button:hover , .view-all-counselors-button:hover {

    cursor: pointer;
    background: linear-gradient(#ffffff , #ffff);
    transition: 5s ease-out;
}

.view-all-doctors-section {

    display: flex;
    flex-direction: row;
    gap: 90px;
}

.view-all-doctors-section-left img {

    width: 90%;

}

.view-all-doctors-section-right {

    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 10px;
}

.view-all-doctors-section-right-heading {

    font-size: 2.2rem;
}

.view-all-doctors-section-right-content {

    font-size: 1.3rem;

}

.view-all-counselors-button {

    border: 2px solid aqua;
    width: 190px;
    height: 40px;
    padding-left: 20px;
    padding-top: 8px;
    border-radius: 20px;
    background: linear-gradient(#ffffff , #39cccc);

}











