* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(46, 255, 252);
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;   */
}
img {
  margin: 100px;
  width: 400px;
  background-blend-mode: normal;
}
.startjournal-Button {
  display: flex;
  justify-content: center;
  /* padding: 10px; */
  margin-top: -120px;
  margin-bottom: auto;
  padding-bottom: 20px;
}
.button {
  width: 200px;
 
  margin: 5px;
  padding: 8px;
  box-shadow:inset 0px -1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #74e1ff 5%, #2b9dc3 100%);
	background-color:#47b6d5;
	border-radius:13px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:44px 36px 45px #ffffff;
  margin:10px;

  width:170px;
}
.button:hover {
  background: rgb(146, 223, 249);
  background: -webkit-linear-gradient(
    bottom,
    rgb(64, 144, 171),
    rgba(180, 212, 229, 1)
  );
  background: -moz-linear-gradient(
    bottom,
    rgb(156, 216, 236),
    rgba(180, 212, 229, 1)
  );
  background: linear-gradient(to top, rgb(36, 87, 104), rgba(180, 212, 229, 1));

  cursor: pointer;
}

p {
  display: flex;
  justify-content: center;
}
.par p {
  font-weight: bolder;
  color: rgb(71, 71, 71);
}
.par2 p {
  font-weight: lighter;
  color: rgb(71, 71, 71);
  margin-top: 10px;
  padding-bottom: 20px;
}

.title-container {
  /* display: flex; */
  padding-top: 100px;

}

.title {
  width: 600px;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: rgb(230, 246, 251);
  border: 2px solid transparent;
  outline: none;
  font-size: large;
  line-height: 1.4;
  padding: 10px;
  margin: 10px;
  transition: all 0.2s;
}

.textarea {
  border-radius: 10px;
  word-wrap: break-word;
  background-color: rgb(230, 246, 251);
  border: 2px solid transparent;
  outline: none;
  font-size: large;
  line-height: 1.4;
  padding: 10px;
  margin: 10px;
  transition: all 0.2s;
  color: darkblue;
}
.textarea:hover title:hover {
  cursor: pointer;
}
.textarea:focus title:focus {
  cursor: text;
}
.textarea::placeholder title::placeholder {
  font-size: 20px;

  margin: 10px;
  padding: 10px;
  font-family: cursive;
}

.flex-journal {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.save-button {
  width: 200px;
  border-radius: 15px;
  border: none;
  font-weight: bolder;
  font-size: large;
  padding-top: 5px;
  margin-top: 5px;
  color: rgb(4, 33, 52);
  /* Created with https://www.css-gradient.com */
  /* Created with https://www.css-gradient.com */
  background: rgba(251, 254, 255, 1);
  background: -webkit-linear-gradient(
    bottom,
    rgb(129, 214, 242),
    rgba(180, 212, 229, 1)
  );
  background: -moz-linear-gradient(
    bottom,
    rgb(156, 216, 236),
    rgba(180, 212, 229, 1)
  );
  background: linear-gradient(
    to top,
    rgb(85, 157, 180),
    rgba(180, 212, 229, 1)
  );
  margin: 5px;
  padding: 8px;
}

.createjournal-div {

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}

.journal-createjournal {

  height: 40px;
  border-radius: 15px;
  border: none;
  font-weight: bolder;
  font-size: large;
  padding-top: 5px;
  margin-top: 5px;
  color: rgb(4, 33, 52);
  /* Created with https://www.css-gradient.com */
  /* Created with https://www.css-gradient.com */
  background: rgba(251, 254, 255, 1);
  background: -webkit-linear-gradient(
    bottom,
    rgb(129, 214, 242),
    rgba(180, 212, 229, 1)
  );
  background: -moz-linear-gradient(
    bottom,
    rgb(156, 216, 236),
    rgba(180, 212, 229, 1)
  );
  background: linear-gradient(
    to top,
    rgb(85, 157, 180),
    rgba(180, 212, 229, 1)
  );
  margin: 5px;
  padding: 8px;
  
}
