* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-otp {

    display: flex;
    flex-direction: column;
}

.enter-otp {
    border-radius: 10px;
    word-wrap: break-word;
    background-color: rgb(230, 246, 251);
    border: 2px solid transparent;
   outline:none;
   font-size:large;
   line-height: 1.4;
   padding: 10px;
   margin:10px;
   transition: all 0.2s;
   color: darkblue;
}

.submit-otp {
    width:200px;
    border-radius: 15px;
    border:none;
    font-weight: bolder;
    font-size: large;
     padding-top: 5px;
     margin-top: 5px;
    color: rgb(4, 33, 52);
    /* Created with https://www.css-gradient.com */
  /* Created with https://www.css-gradient.com */
  background: rgba(251, 254, 255, 1.0);
  background: -webkit-linear-gradient(bottom, rgb(129, 214, 242), rgba(180, 212, 229, 1.0));
  background: -moz-linear-gradient(bottom, rgb(156, 216, 236), rgba(180, 212, 229, 1.0));
  background: linear-gradient(to top, rgb(85, 157, 180), rgba(180, 212, 229, 1.0));
  margin:5px;
  padding:8px;
}